.card {
  list-style:none;
  width: 300px;
  height: 450px;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: rgba(10, 17, 39, 0.741);
  
}


.card.list {
  width: calc(100% - 20px);
  height: 400px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: rgba(10, 17, 39, 0.741);
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  }
.card.list h4 {
 width: fit-content;
 text-overflow: clip;
 white-space: normal;
}

@media (max-width: 654px) { 

  .card { 
    width: 200px;
    height: 300px;
  }


}

@media (max-width: 460px) {


  .card { 
    width: 150px;
    height: 170px;
  }



}