.image
{
    justify-items: right;
    width: fit-content;
    align-content:stretch;
    padding: 0;
    flex-shrink: 7;
    margin-top: 1%;
}

img{
    width: 450px;

}
@media (max-width: 980px) {

    img{
        width: 150px;
        flex-shrink: 7;
    }   
}