.icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    flex-shrink: 6;
}

li{
    display: block;
    list-style: none;
    color: rgb(120, 247, 78);
    height: 80px;
    margin-left: 30px;
}
.flexbox{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0;
    justify-items: left;
    
}

h2{
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #c2c1c1;
}

@media (max-width: 1240px) { 

    .container {
      display: grid;
      width: 100%;
      padding: 0;
    }
 .flexbox{
     flex-direction: row;
     gap:0px;
 }
 li{
  margin-left: 0;
  display:block;   
  height: 100px;
 }
}

@media (max-width: 1200px) { 
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
li{
    font-size: 14px;
}    


}

@media (max-width: 1029px) { 
    .flexbox{
        flex-direction: column;
        gap:0px;
    align-items: center;}

}